.window {
  background: #fafafa;
  box-shadow:0px 0px 25px #000000;
  border-radius: 11px; 
-moz-border-radius: 11px; 
-webkit-border-radius: 11px; 

  /*border-radius: 5px;
  background-image: -webkit-linear-gradient(top, #fafafa, #e1e1e1);
  background-image: -moz-linear-gradient(top, #fafafa, #e1e1e1);
  background-image: -o-linear-gradient(top, #fafafa, #e1e1e1);
  background-image: linear-gradient(to bottom, #fafafa, #e1e1e1);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);*/
}

.window-header {
  height:40px;
  padding: 5px 5px 1px 5px;
  /*background-color: #d2322d;*/
  background-color: #000000;
  border-radius: 10px 10px 0px 0px; 
-moz-border-radius: 10px 10px 0px 0px; 
-webkit-border-radius: 10px 10px 0px 0px; 
  /*border-bottom: 1px solid #949494;
  border-radius: 5px 5px 0 0;
  background-image: -webkit-linear-gradient(top, #dadada, #b1b1b1);
  background-image: -moz-linear-gradient(top, #dadada, #b1b1b1);
  background-image: -o-linear-gradient(top, #dadada, #b1b1b1);
  background-image: linear-gradient(to bottom, #dadada, #b1b1b1);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);*/
}
.window-header > h2 {
  margin-top:10px;
  line-height: 25px;
  font-size: 15px;
  /*color: #505050;*/
  color : #ffffff;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}
.window-header > a {
  position: relative;
  float: left;
  width: 23px;
  height: 23px;
  
  text-align:center;
  color:#ffffff;
  font-size:35px;

  
  /*background-clip: padding-box;
    background: #ffffff;
  border: 1px solid;
  border-color: #aaa #9c9c9c #888;
  border-radius: 13px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.9);
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  background-image: -webkit-linear-gradient(top, #fafafa, #c1c1c1);
  background-image: -moz-linear-gradient(top, #fafafa, #c1c1c1);
  background-image: -o-linear-gradient(top, #fafafa, #c1c1c1);
  background-image: linear-gradient(to bottom, #fafafa, #c1c1c1);
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.9);
  */
}

.window-header > a:before {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
}

.window-header .icon-close {
  float: right;
}

.window-form {
    border-radius: 0px 0px 9px 10px; 
-moz-border-radius: 0px 0px 9px 10px; 
-webkit-border-radius: 0px 0px 9px 10px; 
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  line-height: 25px;
  font-size: 11px;
  color: #888;
  text-align: center;
  text-transform: uppercase;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
}

.window-header > a:before {
  content: '';
  display: block;
  /*background-image: url("/img/icons.png");*/
}

.icon-close:before {
  background-position: 0 -28px;
}

.icon-prev:before {
  background-position: -12px -28px;
}


.canvasFullWindow{
    position: absolute;
    background-color: #000000;
    top: 0px;
    left: 0px;
}

.wrapperFullWindow{
}

#audioPlayer_api{
   width: 0px;
   height: 0px;
}